body {
    font-size: 16px;
    color: #000;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #f6b319; /* A distinct yellow color */
    border-radius: 0;
    border: 0;
}

.navbar-brand h1 {
    font-family: 'Georgia', serif;
    color: #557c3e; /* A contrasting green */
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

/* Style for the mobile dropdown menu */
#collapsable-nav {
    background-color: #f5deb3; /* Wheat color for dropdown */
}
#nav-list a {
    color: #282c34;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
#nav-list a:hover {
    background: #e7e7e7;
}
#nav-list li {
    border-bottom: 1px solid #ddd;
}

/* Hamburger button color */
.navbar-toggle {
    border: 2px solid #557c3e;
}
.icon-bar {
    background-color: #557c3e;
}


/** MAIN CONTENT **/
#menu-heading {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.8em;
    font-weight: bold;
    color: #557c3e;
}

#main-text-section {
    background-color: #e0e0e0; /* Light gray background */
    padding: 20px;
    height: 1000px; /* Tall section as required */
    color: #333;
}
